
  .img-size{
    height: 400px;
    width: 100%
  }

  .second-img-dimension{
    padding-top: 4%; 
    margin-left: 8%;
    width: 40%;
    height: 30%;
  }

  .paragraph-placement {
    color: red;
  }