* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden !important;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  font-size: 21px;
  text-align: left;
  margin-left: 15%;
}

.ant-input {
  box-shadow: 0 -5px 45px rgb(100 100 100 / 20%) inset,
    0 1px 1px rgb(255 247 247 / 20%);
}

.ant-form {
  /* margin-right: 20%; */
  margin: 0 auto !important;
  margin-left: 50px !important;
}

@media only screen and (max-width: 576px) {
  .ant-row {
    display: flex;
    justify-content: center;
  }
  .ant-form {
    /* margin-right: 20%; */
    width: 100%;
    margin-left: 0px !important;
  }

  .ant-col-offset {
    margin-left: 0px !important;
  }

  .ant-col {
    margin: 0px !important;
  }

  h2 {
    margin-left: 0px;
  }
}
