*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);

.profiles-container {
  background-image: url('https://i.pinimg.com/originals/a3/00/48/a300488ab0270733e98fec22965cf9ed.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  .profiles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .profiles-card {
      width: 250px;
      position: relative;
      margin-bottom: 10%;
      box-shadow: 10px 10px 15px rgb(0, 0, 0);
      border-radius: 15%;
      transform-style: preserve-3d;
      transition: all 0.7s linear;
      z-index: 1;
      backface-visibility: hidden;

      perspective: 1000px;

      .card-image {
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
      }
    }
  }

  .middle-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    .map-link {
      border: 2px solid red;
    }
  }
}

.cards-container {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  button {
    margin-top: 7%;
  }
}

.hidden {
  display: none;
}

@keyframes pulse-grow {
  to {
    transform: scale(1.1);
  }
}

i {
  font-size: 3rem;
  color: #01c5c4;
  text-shadow: 2px 1px 1px black;
  &:hover {
    animation-name: pulse-grow;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.map-link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    color: black;
  }
}

.profile-list-header {
  font-family: 'Amatic SC', cursive;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 6em;
  color: #fff;

  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.1);
}

.home-icon {
  margin-left: 1%;
  margin-top: 1%;
  width: 10%;
}

a {
  display: inline;
}

.conditional {
  height: 47vh;
  display: flex;
  justify-content: center;
  .conditional-header {
    font-size: 4rem;
    color: #f1e189;
    text-shadow: 1px 1px 0 black;
  }
}
