* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
.image-gallery {
  width: 40%;
  height: auto;
}
*/

body {
  overflow-x: hidden !important;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
  overflow: auto;
}

img .card {
  width: 100%;
}

.image-gallery-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.slideshow-container {
  max-width: 1200px;
  position: relative;
  margin: auto;
}

.main-services-top {
  text-align: center;
  margin: 2em 0 2em 2em;
}

.main-services-top p {
  text-align: center;
  margin-bottom: 0.2em;
  font-size: 22px;
}

.main-services-middle {
  text-align: center;
}

.main-services-middle p {
  font-size: 24px;
  letter-spacing: 4px;
}

.ant-col {
  padding: 8px;
  text-align: center;
  line-height: 2em;
}

/* .ant-card {
    box-shadow: 5px 10px #888888
} */

.site-card-border-less-wrapper {
  padding: 30px;
  background: white;
}

.main-container {
  overflow: hidden;
}

.circle-container {
  max-width: 900px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border: solid black 1px;
  border-radius: 50%;
  font-size: 18px;
  color: #000;
  text-align: center;
  background: #fff;
  margin: 0 25px;
}

.services-card {
  max-width: 900px;
  height: auto;
  display: flex;
  border: 1px solid black;
  margin: 5% auto;
}

.services-image {
  width: 100%;
  position: relative;
  height: 100%;
}

.services-container {
  width: 40%;
  display: -webkit-inline-box;
}

.services-title {
  margin: 0 3%;
  /* width: 75%; */
}

.services-title {
  margin: 0 2%;
}

.services-features {
  margin: 0 3%;
}

.services-button-container {
  text-align: end;
  margin-bottom: 2%;
}

.services-button {
  background-color: #2c89d9;
  color: white;
}
.services-heading {
  margin-bottom: 0px;
}

.services-price {
  color: #27d827;
}

@media only screen and (max-width: 768px) {
  .services-card {
    max-width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5% auto;
  }
  .services-image {
    width: 100%;
    position: relative;
    height: 100%;
  }
  .services-container {
    width: 100%;
    display: -webkit-inline-box;
  }
  .ant-btn {
    width: 80%;
    background-color: #2c89d9;
    color: white;
  }
  .services-button-container {
    text-align: center;
    margin-bottom: 2%;
  }
  .services-features {
    margin: 0 5%;
  }

  .services-heading {
    margin-bottom: 0px;
  }
  .services-price {
    color: #27d827;
  }
}

/*
.fullscreen .image-gallery-slide img {
  max-width: 100%;
  max-height: 400px;
} */
/* 
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  } */
