.footer-container {
  background-color: #f39233;
  display: flex;
  justify-content: space-between;
  .footer-icons {
    display: flex;
    justify-content: flex-end;
    margin-right:4%;
    width:30%;
    .footer-icon {
      margin-top: 17px;
      margin-left:3%;
      
    }
  }
  .footer-name{
      margin-left:25%;
      margin-top:3%;
  }
  img {
    widows: 100px;
    height: 100px;
  }
}
