.footer-container {
  background-color: #f39233;
  display: flex;
  justify-content: space-around;
  .footer-icons {
    display: flex;
    justify-content: space-around;
    border:2px solid red;
    width:80%;
    .footer-icon {
      margin-top: 17px;
      
    }
  }

  img {
    widows: 100px;
    height: 100px;
  }
}
